#include "res.hpp"
#include <windows.h>

IDD_SETTINGS_DIALOG DIALOGEX 10, 10, 205, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTERMOUSE
CAPTION "_echo Saver"
FONT 8, "MS Sans Serif"

BEGIN
	// Add controls for settings dialog
	LTEXT "Color",IDC_LTEXT_COLOR, 5, 60, 40, 15
	PUSHBUTTON "Color", IDC_BROWSE_BUTTON, 60, 60, 60, 15

	LTEXT "Message",IDC_LTEXT_EDITTEXT, 5, 80, 40, 15
	EDITTEXT IDC_SELECTED_FILE_EDIT, 60, 80, 60, 15, ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP

	LTEXT "Image",IDC_LTEXT_BGBUTTON, 5, 100, 40, 15
	GROUPBOX "BackgroundType", IDC_STATIC, 60, 100, 60, 15

	LTEXT "Image",IDC_LTEXT_PHOTO, 5, 120, 40, 15
	PUSHBUTTON "Photo", IDC_PHOTO_RADIO, 60, 120, 60, 15

	LTEXT "Video",IDC_LTEXT_VIDEO, 5, 140, 40, 15
	CONTROL "Video", IDC_VIDEO_RADIO, "Button", 60, 140, 60, 15, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE

	LTEXT "Slideshow",IDC_LTEXT_SLIDESHOW, 5, 160, 40, 15
	CONTROL "Slideshow", IDC_SLIDESHOW_RADIO, "Button", 60, 160, 60, 15, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE
	
	LTEXT "Preview",IDC_LTEXT_FINAL, 5, 180, 40, 15
	CONTROL "Preview",IDC_PREVIEW_BUTTON,"BUTTON", 60, 180, 60, 15, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE

	LTEXT "final",IDC_LTEXT_FINAL, 5, 200, 40, 15
	PUSHBUTTON "OK", IDOK, 75, 200, 60, 15
	PUSHBUTTON "Cancel", IDCANCEL, 140, 200, 60, 15

END