#include <windows.h>

#define IDD_SETTINGS_DIALOG 101


IDD_SETTINGS_DIALOG DIALOGEX 80, 80, 200, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"

BEGIN
    // Add controls for settings dialog
    PUSHBUTTON "OK", IDOK, 100, 70, 50, 20
    PUSHBUTTON "Cancel", IDCANCEL, 160, 70, 50, 20
    CONTROL "Setting 1:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 10, 10, 80, 20
    EDITTEXT IDC_SETTING1_EDIT, 90, 10, 100, 20, ES_NUMBER | WS_BORDER | WS_TABSTOP
    CONTROL "Setting 2:", -1, "STATIC", SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 10, 40, 80, 20
    AUTOCHECKBOX "Checkbox", IDC_SETTING2_CHECK, 90, 40, 100, 20
END
